body {
    background-image: url("../image/image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

#main-container {
    background-color: white;

    width: 700px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    color: #474f64;
    margin-block-start: 0;
    margin-bottom: 20px;
    font-size: 35px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: inline-block;

    font-weight: 600;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select,
textarea {
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

#input-comment {
    height: 100px;
    resize: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border:2px solid black;
}

#freq-radio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    accent-color: #3f6dff;
}

#freq-radio-container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    gap: 5px;
}


input[type="radio"]:hover {
    cursor: pointer;
}

#button-container {
    display: flex;
    justify-content: space-around;

    margin-top: 20px;
}

#button-container input {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

input[type="submit"] {
    background-color: skyblue;
    color: white;
}

input[type="button"] {
    background-color: darkgrey;
    color: white;
}

label[for="input-name"] { color: #fb4952; }
label[for="select-gender"] { color: #fb9060; }
label[for="input-age"] { color: #f4d834; }
label[for="select-scent"] { color: #78e841; }
label[for="freq-radio-container"] { color: #3f6dff; }
label[for="input-brand"] { color: #a86cff; }
label[for="select-budget"] { color: #f554ef; }
label[for="input-comment"] { color: #22d5e6; }