<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ID Check</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script>
        window.onload = function() {

            document.querySelector('#searchForm').addEventListener('submit', function(e) {
               const searchId = document.querySelector('#searchId').value.trim();

               if(searchId.length < 3 || searchId > 10) {
                   alert("검색할 ID를 3~10자로 입력하세여");
                   e.preventDefault();
               }
            });

            const inputButton = document.querySelector('#inputButton');
            if(inputButton) {
                inputButton.addEventListener('click', function() {
                   const id = this.getAttribute("data-id");

                   // 자식 창이 부모 창에 접근하도록 연결 객체
                   opener.document.querySelector('#memberId').value = id;
                   window.close();
                });
            }
        }
    </script>

</head>
<body>

    <header>
        <h1>[ ID 중복확인 ]</h1>
    </header>
    <br>
    <section>
        <form id="searchForm" th:action="@{idCheck}" method="post">
            검색할 ID <input type="text" name="searchId" id="searchId">
            <input type="submit" value="검색">
            
        </form>

        <!-- 검색 후 출력 -->
        <div th:if="${result != null}">
            <div th:if="${result}">
                <p>
                    <span th:text="|${searchId}: 사용할 수 있는 ID입니다.|"></span>
                </p>
                <input type="button" value="ID사용하기" id="inputButton" th:data-id="${searchId}">
            </div>

            <div th:if="${not result}">
                <p>
                    <span th:text="|${searchId}: 이미 사용중인 ID입니다.|"></span>
                </p>

            </div>

        </div>
    </section>

</body>
</html>