<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>join</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <script>
        window.onload = function() {
            document.querySelector('#joinForm').addEventListener('submit', validation);
            document.querySelector('#openButton').addEventListener('click', idWindowOpen);
            document.querySelector('#memberId').addEventListener('click', idWindowOpen);
        }

        function validation(e) {

            const id = document.querySelector('#memberID').value;
            const pw = document.querySelector('#memberPassword').value;
            const pw2 = document.querySelector('#memberPassword2').value;
            const name = document.querySelector('#memberName').value;

            if(id.length < 3 || id.length > 10) {
                alert("ID는 3~10자로 입력하세요");
                e.preventDefault();
                return;
            }

            if(pw.length < 3 || pw.length > 10) {
                alert("비밀번호는 3~10자로 입력하세요");
                e.preventDefault();
                return;
            }

            if(pw != pw2) {
                alert("비밀번호가 일치하지 않습니다")
                e.preventDefault();
                return;
            }

            if(!name) {
                alert("이름을 입력하세요")
                e.preventDefault();
                return;
            }
        }

        // id 중복체크
        function idWindowOpen() {
            // popup(열고자 하는 페이지 url, 새창 이름, 새창 포지션)
            let w = window.open('idCheck', 'idWin', 'top=200, left=50, width=400, height=300');
        }
    </script>
</head>
<body>
    
    <header>
        <h1>[ 회원가입 ]</h1>
    </header>

    <section>
        <form id="joinForm" action="" method="post">

            <table>
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" name="memberId" id="memberId"
                               maxlength="10" placeholder="ID중복확인 이용"
                               readonly="readonly">
                        <input type="button" id="openButton" value="중복 확인">
                    </td>
                </tr>
                <tr>
                    <th>비밀번호</th>
                    <td>
                        <input type="password" name="memberPassword" id="memberPassword"
                               maxlength="10" placeholder="비밀번호 입력">
                        <br>
                        <input type="password" id="memberPassword2" placeholder="비밀번호 확인">
                    </td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td>
                        <input type="text" name="memberName" id="memberName" placeholder="이름 입력">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" name="email" id="email" placeholder="이메일 입력">
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input type="text" name="phone" id="phone" placeholder="전화번호 입력">
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>
                        <input type="text" name="address" id="address" placeholder="주소 입력" style="width: 300px;">
                    </td>
                </tr>
            </table>
            <br>
            <button type="submit">가입</button>
            <button type="reset">다시 쓰기</button>

        </form>
    </section>

</body>
</html>